<ClickOutside @onClickOutside={{action (mut this.showMessages) false}}>
  <a
    class="nav-link dropdown-toggle"
    href="#"
    id="messagesDropdown"
    role="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    {{on 'click' (fn this.toggleShowMessages)}}
  >
    <i class="fas fa-envelope fa-fw"></i>
    <span class="badge badge-danger badge-counter">{{@messages.length}}</span>
  </a>
  {{#if this.showMessages}}
    <div
      class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in show"
      aria-labelledby="messagesDropdown"
    >
      <h6 class="dropdown-header">
        Message Center
      </h6>
      {{#each @messages as |message|}}
        <a class="dropdown-item d-flex align-items-center" href="#">
          <div class="dropdown-list-image mr-3">
            <img class="rounded-circle" src="{{message.user.avatar}}" alt="message-egavatar">
            <div class="status-indicator bg-success"></div>
          </div>
          <div class="font-weight-bold">
            <div class="text-truncate">
              {{message.content}}
            </div>
            <div class="small text-gray-500">{{message.user.fullName}} · {{moment-from-now message.createdAt}}</div>
          </div>
        </a>
      {{/each}}
      <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
    </div>
  {{/if}}
</ClickOutside>
